.App {
  display: flex;
  width: 800px;
  margin: auto;
  background-color: rgba(248, 231, 231, 0.849);
}

.App>div {
  flex: 1;
  border: solid 1px rgb(218, 171, 171);
  padding: 10px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-list li {
  cursor: pointer;
}

.user-list li:hover {
  color: blue;
}

.loader {
  border: 6px solid #ffffff;
  /* Light grey */
  border-top: 6px solid #631357;
  /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}